DOMAIN=your_domain
PROTOCOL=your_protocol
PORT=your_port

NODE_ENV=your_node_env

DATABASE_NAME=your_db_name
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_PORT=your_db_port
DATABASE_URL=postgres://your_db_user:your_db_password@your_domain:your_db_port/your_db_name


BCRYPT_ROUNDS=your_bcrypt_rounds
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=your_expires_in